body {
	background-color: #FFE590
}

table, tr, th {
    border: 4px #CC5600;
	border-collapse: collapse;
	height: 25%;
	padding: 6px;
}

tr {
    padding: 4px;
	font-family: Garamond;
	font-size: 15px;
	color: FFFFFF;
}

tr:nth-of-type(odd) { 
		background: #7F4C26;
}

tr:nth-of-type(even) { 
		background: #CCCCCC;
}

th {
	background-color: #CC5600;
	font-family: Century;
	font-size: 14px;
}

h1 {
	font-family: Verdana;
	font-size: 28px;
	font-weight: strong;
	color: #CC5600;
}

h2 {
	font-family: Verdana;
	font-size: 20px;
	font-weight: strong;
	color: #FFFFFF;
}

h3 {
	font-family: Century Gothic, sans-serif;
	font-size: 18px;
	padding-right: 1.25em;
	color: #CC5600;
	font-weight: strong;
}

h4 {
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
	display: inline;
}
	
p {
	font-family: Garamond;
	font-size: 18px;
	color: #FF984C;
}

ul li{
	font-family: Garamond;
	font-size: 15px;
	padding-bottom: 0.25em;
}

	/* Define the default color for all the table rows */
 tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
 tr:hover {
          background-color: #D9260B;
		  color: white;
    }

main-content ul li {
	font-size: 18px;
	font-family: Garamond; 
	margin-left: 5%;
	margin-top: 14px;
}
